#advantagesList {
    list-style-type: none;
    padding: 0;
}

#advantagesList li {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
    overflow: hidden;
    max-height: 50px;
}

#advantagesList li.hidden {
    opacity: 0;
    pointer-events: none;
}

#advantagesList li:hover {
    background-color: #e6f4f8;
}

#advantagesList li.expanded {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

#advantagesList li strong {
    display: inline-block;
    margin-bottom: 5px;
    color: #007bff;
    width: calc(100% - 30px);
}

#advantagesList li .advantage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#advantagesList li .description {
    display: none;
}

#advantagesList li.expanded .description {
    display: block;
    overflow-y: auto;
}

#advantagesList li.expanded .description::-webkit-scrollbar {
    display: none;
}

#advantagesList li.expanded .description {
    scrollbar-width: none;
}

.advantage-container input[type="checkbox"] {
    margin-left: auto;
    margin-right: 10%;
    width: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.search-container input[type="checkbox"] {
    width: auto;
}