<div class="header">
    <h1>Mutants and Masterminds Useful Tools</h1>

    <nav class="topnav" aria-label="Main Navigation">
        <a href="index.html" class="button-link" aria-label="Degrees Calculator" title="Degrees Calculator">Degrees Calculator</a>
        <a href="throwing-distance-calculator.html" class="button-link" aria-label="Throwing Distance Calculator" title="Throwing Distance Calculator">Throwing Distance Calculator</a>
        <a href="measurements-table.html" class="button-link" aria-label="Measurements Table"title="Measurements Table">Measurements Table</a>
        <a href="advantages.html" class="button-link" aria-label="Advantages" title="Advantages">Advantages</a>
        <a href="conditions.html" class="button-link" aria-label="Conditions" title="Conditions">Conditions</a>
        <a href="variable-powers-manager.html" class="button-link" aria-label="Variable Powers Manager" title="Variable Powers Manager">Variable Powers Manager</a>
    </nav>
</div>